<!DOCTYPE html>
<html>
  <%- include('partials/_head.ejs') -%>

  <body>
    <%- include('partials/_navigation.ejs') -%>
    <!-- header section end -->
    <!-- furnitures section start -->
    <div class="blog_section layout_padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="blog_taital">Categories</h1>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="blog_section_2 layout_padding">
          <div class="row">
            <% categories.forEach(e=>{%>
            <div class="col-lg-4 col-md-4 col-sm-12">
              <div class="blog_box">
                <a
                  class="chair_text"
                  href="/furnitures/<%=parentCategory%>/<%=e.name%>"
                  ><%= e.name%></a
                >
              </div>
            </div>
            <%})%>
          </div>
        </div>
        <div class="readmore_bt"><a href="#">See More</a></div>
      </div>
    </div>
    <!-- furnitures section end -->
    <%- include('partials/_footer.ejs') -%>
  </body>
</html>
