<div class="navbar-collapse">
  <ul
    class="navbar-nav mr-auto d-flex flex-row justify-content-around text-white font-weight-bold h4"
  >
    <li class="nav-item">
      <a
        class="nav-link <%= page_name=='adminUsers' ? 'text-white' :'text-secondary' %>"
        href="/admin/users"
        >Users</a
      >
    </li>
    <li class="nav-item <%= page_name=='courses' && 'active' %>">
      <a
        class="nav-link <%= page_name=='adminInstructors' ? 'text-white': 'text-secondary'%>"
        href="/admin/instructors"
        >Instructors</a
      >
    </li>
    <li class="nav-item <%= page_name=='trainer' && 'active' %>">
      <a
        class="nav-link <%= page_name=='adminNewClass' ? 'text-white' : 'text-secondary' %>"
        href="/admin/newclass"
        >New Class</a
      >
    </li>
    <li class="nav-item <%= page_name=='contact' && 'active' %>">
      <a
        class="nav-link <%= page_name=='adminClasses' ? 'text-white' : 'text-secondary'%>"
        href="/admin/classes"
        >All Classes</a
      >
    </li>
  </ul>
</div>
