<html>
  <%- include('partials/_header') -%>
  <body>
    <%- include('partials/_navigation') -%> <% if(userIn){ %>
    <!-- Contact Section-->
    <section class="page-section mt-5" id="contact">
      <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="text-center text-uppercase text-secondary mb-0">
          Contact Me
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <form
              method="post"
              action="/portfolio/new"
              enctype="multipart/form-data"
              onsubmit="prepareText()"
            >
              <!-- Name input-->
              <div class="form-floating mb-3">
                <input
                  type="text"
                  placeholder="Project name..."
                  name="name"
                  class="form-control"
                />
                <label for="name">Project Name</label>
              </div>
              <!-- Project Image input-->
              <div class="form-floating mb-3">
                <input type="file" name="image" class="form-control" />
                <label for="phone">Project Image</label>
              </div>
              <!-- Description input-->
              <div class="form-floating mb-3">
                <textarea
                  class="form-control"
                  placeholder="Enter your message here..."
                  style="height: 10rem"
                  name="description"
                  id="textArea"
                ></textarea>
                <label for="message">Description</label>
              </div>
              <!-- Submit Button-->
              <button
                class="btn btn-primary btn-xl"
                id="submitButton"
                type="submit"
              >
                Send
              </button>
            </form>
          </div>
        </div>
        <p class="mt-5"><h2>Portfolio Items</h2></p>
        <div class="row justify-content-center">
          <table class="col-lg-8 ">
            <tr style="border-bottom: solid 1px black; padding: 2em">
              <th>Name</th>
              <th>Delete</th>
            </tr>
            <% allPortfolio.forEach(e=>{ %>
            <tr>
              <td><%= e.name%></td>
              <th><a class="btn btn-danger" href="/portfolio/delete?id=<%=e._id%>">Delete</a></th>
            </tr>
            <%})%>

          </table>
        </div>
      </div>
    </section>
    <script>
      function prepareText() {
        const textArea = document.getElementById("textArea");
        const text = textArea.value;
        const formattedText = text.replace(/\n/g, "<br>");

        // Update the value of the textarea with the formatted text before submitting the form.
        textArea.value = formattedText;
        console.log(textArea.value);
      }
    </script>
    <%}%> <%if(!userIn){%>
    <section class="page-section mt-5" id="contact">
      <div class="container">
        <!-- Contact Section Heading-->
        <h2 class="text-center text-uppercase text-secondary mb-0">
          admin login
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
          <div class="divider-custom-line"></div>
        </div>
        <!-- Contact Section Form-->
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <form method="post" action="/admin/login">
              <!-- Name input-->
              <div class="form-floating mb-3">
                <input
                  type="password"
                  placeholder="Password"
                  name="password"
                  class="form-control"
                />
                <label for="name">Secret Password</label>
              </div>
              <!-- Submit Button-->
              <button
                class="btn btn-primary btn-xl"
                id="submitButton"
                type="submit"
              >
                Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <%}%> <%- include('partials/_footer') -%>
    <style>
      table {
        border-spacing: 0 10px; /* This applies a 10px vertical spacing between rows */
      }
      th, td {
        padding: 10px; /* This applies a 10px padding to all table cells */
      }
    </style>
  </body>
</html>
